header{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100px;
}

.navtop{
    width: 100%;
    height: 45px;
    display: flex;
    margin-top: 50px;
}

.nav{
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}

header nav h3{
    padding-left: 3%;
    padding-right: 15%;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -1px;
}

header nav span{
    border: #212832 inset 2px;
    padding: 5px 10px;
    border-radius: 7px;
}
header nav span:hover{
    opacity: 0.7;
}
header nav a, h3{
    text-decoration: none;
    color: #212832;
}

header nav a:hover{
    opacity: 0.7;
}
.desHeader{
    width: 100%;
    border: orangered 2px inset;
    padding-left: 100px;
}
.desHeader img{
    padding-right: 100px;
    display: flex;
    float: right;
    width: 500px;
}
.desHeader h4{
    color: #DF6951;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
  }
.desHeader h1{
    color: #181E4B;
    font-size: 80px;
  }
  .desHeader p{
    padding-bottom: 5px;
  }
.btn{
    border:#F1A501 2px inset ; 
    background-color: #F1A501;
    width: auto;
    
}